<section class="container-user">
    <div class="user-container">
        <!-- Titulo -->
        <div class="form-container">
            <div class="header-cadastro">
                <span>Produtos</span>
                <button *ngIf="this.accountService.userValue?.isAdmin" (click)="incluirProduto()" id="new" class="material-symbols-outlined">add</button>
            </div>
            <!-- 1 -->
            <div class="divTable">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome do Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Situação</th>
                            <th class="acao">Editar</th>
                            <th *ngIf="this.accountService.userValue?.isAdmin" class="acao">Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produto of produtos">
                            <td>{{ produto.id }}</td>
                            <td>{{ produto.name }}</td>
                            <td>{{ produto.price | currency:"BRL" }}</td>
                            <td>{{ produto.unit }}</td>
                            <td><input id="situacao-{{ produto.id }}" type="checkbox" [checked]="produto.active" (click)="alterarFlagItemAtivo(produto)" class="check-situacao" [disabled]="!this.accountService.userValue?.isAdmin"></td>
                            <td><button (click)="editarProduto(produto.id)"><span class="material-symbols-outlined">edit</span></button></td>
                            <td><button *ngIf="this.accountService.userValue?.isAdmin" (click)="visualizarProduto(produto.id)"><span class="material-symbols-outlined">visibility</span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>