<div class="container">
    <div class="popup">
        <h3>{{ titulo }}</h3>
        <form [formGroup]="form">
            <label for="m-nomeProduto">Nome do Produto</label>
            <input id="m-nomeProduto" type="text" name="m-nomeProduto" formControlName="name"/>

            <label for="m-avaliacao">Avaliacao</label>
            <select id="m-nomeProduto" type="text" name="m-nomeProduto" formControlName="rating">
                <option value="">Selecione</option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
            </select>

            <label for="m-descricaoProduto">Descrição do Produto</label>
            <textarea id="m-descricaoProduto" name="m-descricaoProduto" formControlName="description"></textarea>

            <label for="m-precoProduto">Preço</label>
            <input id="m-precoProduto" type="tex" name="m-precoProduto" placeholder="00,00" formControlName="price"/>

            <label for="m-quantidadeProduto">Quantidade</label>
            <input id="m-quantidadeProduto" type="number" name="m-quantidadeProduto" placeholder="0" formControlName="unit"/>

            <label for="m-imagemProduto">Imagem do Produto</label>
            <input id="m-imagemProduto" name="m-imagemProduto" type="file" accept="image/*" multiple >
  
            <button (click)="salvar()" id="btnSalvar">Salvar</button>
            <button (click)="cancelar()" class="cancelar">Cancelar</button>
          </form>
    </div>
</div>